* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #323332;
}

header {
  background-color: rgba(134, 43, 76, 0.4);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

header h1 {
  color: ghostwhite;
}

/*###############################
|| Hamburger-button starts
################################*/
.hmbrgr-btn-wrapper {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 2;
}

.hmbrgr-btn {
  position: relative;
  background: ghostwhite;
  width: 25px;
  height: 2px;
  border-radius: 3px;
  transition: background-color .45s;
}

.hmbrgr-btn::before, .hmbrgr-btn::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  border-radius: 3px;
  background-color: ghostwhite;
  transition: transform .5s;
}

.hmbrgr-btn::before {
  top: -8px;
}

.hmbrgr-btn::after {
  top: 8px;
}

.hmbrgr-btn-wrapper.open .hmbrgr-btn {
  background-color: transparent;
}

.hmbrgr-btn-wrapper.open .hmbrgr-btn::before {
  transform: translateY(8px) rotate(-45deg);
}

.hmbrgr-btn-wrapper.open .hmbrgr-btn::after {
  transform: translateY(-8px) rotate(45deg);
}


nav {
  transform: translateX(100vw);
  /* opacity: 0;
  visibility: hidden; */
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom:0;
  background-color: #fa540f;
  transition: transform .6s;
}

.hmbrgr-btn-wrapper.open + nav {
  transform: translateX(0);
}

nav ul {
  list-style: none;
  color: ghostwhite;
}