* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #323332;
  overflow-x: hidden;
}

header {
  background-color: rgba(134, 43, 76, 0.4);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

header h1 a {
  color: ghostwhite;
  text-decoration: none;
}

/*###############################
|| Hamburger-button starts
################################*/
.hmbrgr-btn-wrapper {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 99;
}

.hmbrgr-btn {
  position: relative;
  background: ghostwhite;
  width: 25px;
  height: 2px;
  border-radius: 3px;
  transition: background-color .45s;
}

.hmbrgr-btn::before, .hmbrgr-btn::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  border-radius: 3px;
  background-color: ghostwhite;
  transition: transform .5s;
}

.hmbrgr-btn::before {
  top: -8px;
}

.hmbrgr-btn::after {
  top: 8px;
}

.hmbrgr-btn-wrapper.open .hmbrgr-btn {
  background-color: transparent;
}

.hmbrgr-btn-wrapper.open .hmbrgr-btn::before {
  transform: translateY(8px) rotate(-45deg);
}

.hmbrgr-btn-wrapper.open .hmbrgr-btn::after {
  transform: translateY(-8px) rotate(45deg);
}


nav {
  transform: translateX(100vw);
  /* opacity: 0;
  visibility: hidden; */
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom:0;
  background-color: #fa540f;
  transition: transform .6s;
}

.hmbrgr-btn-wrapper.open + nav {
  transform: translateX(0);
}

nav ul {
  list-style: none;
  color: ghostwhite;
}

#skip-link {
  position: absolute;
  left: -9999px;
  height: auto;
  width: auto;
  top: auto;
}

#skip-link:focus {
  animation: show-skip-link .7s forwards;
}

@keyframes show-skip-link {
  to {
    left: 10px;
    background: rgb(239, 98, 109);
    padding: .5em;
    border-radius: 10px;
  }
}

@media(min-width: 600px) {
  header {
    padding: 0 4em;
    justify-content: space-between;
  }
  .hmbrgr-btn-wrapper {
    display: none;
  }

  nav {
    position: static;
    transform: translateX(0);
    background: transparent;
    flex: 0 0 70%;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }

  nav ul li a {
    color: ghostwhite
  }
}