* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #5E69E6;
  color: ghostwhite;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header.fixed {
  position: fixed;
  left: 0; 
  width: 100%;
  z-index: 99;
}

header.fixed.animation-class {
  animation: heightIt 1s forwards !important;
}

@keyframes heightIt {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

nav {
  flex: 0 0 60%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

main {
  margin-top: 1em;
  font-size: 2rem;
}