* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #5E69E6;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: .5em 1em 0;
  color: ghostwhite;
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

header.animation-class {
  animation: heightIt 10s forwards !important;
}

@keyframes heightIt {
  from {
    transform: translateY(-100%) !important;
  }
  to {
    transform: translateY(0%) !important;
  }
}

nav {
  flex: 0 0 60%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

main {
  margin-top: 1em;
  font-size: 2rem;
}